html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Estilos de la barra de navegación */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 40px;
    background-color: #284B63;
}

header .logo {
    color: #FFFFFF;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}

.menu {
    font-family: 'Exo', sans-serif;
}

.menu a, nav span {
    margin-right: 1.5rem;
    color: #FFFFFF;
    text-decoration: none;
    transition: all .6s ease;
}

.menu a:last-child {
    margin-right: 0;
}

.menu a:hover {
    color: #D9D9D9;
}

.menu-button {
    display: none;
}

/* Media queries de la barra de navegación */

@media screen and (max-width: 768px) {
    header {
        position: relative;
        padding: 0 20px;
    }

    .menu {
        position: absolute;
        top: 80px;
        width: 100%;
        background-color: #284B63;
        transition: all .5s ease;
    }

    .hidden {
        left: -1000px;
    }

    .shown {
        left: 0px;
    }

    .menu a {
        display: block;
        padding: 1rem 2rem;
        text-align: center;
        margin: 0;
    }

    .menu span {
        display: none;
    }

    .menu-button {
        display: block;
        cursor: pointer;
    }

    .hamburger {
        height: 2rem;
        color: #FFFFFF;
    }
}

/* Estilos generales del cuerpo */

.main {
    min-height: calc(100vh - 80px);
    padding: 1rem;
    font-family: 'Kanit', sans-serif;
    background-color: #D9D9D9;
}

/* Estilos del login */

.container-login, .container-signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 500px;
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 10px;
}

.card .logo {
    padding: 1.5rem 0;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: #3c6e71;
}

.card .form-field {
    padding: .5rem 2rem;
    margin-bottom: .25rem;
}

.form-field label {
    display: block;
    color: #353535;
    margin-bottom: .25rem;
}

.form-field input, .form-field textarea, .form-field select {
    display: inline-block;
    width: 100%;
    padding: .5rem 1rem;
    outline: none;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.form-field button {
    display: inline-block;
    width: 100%;
    padding: .75rem 0;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #3c6e71;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin-top: .5rem;
    transition: all .5s ease;
}

.form-field button:hover{
    background-color: #284B63;
}

.error-message {
    color: #e71d36;
}

.signup-legend {
    text-align: center;
    color: #353535;
}

.signup-legend a{
    color: #3c6e71;
    text-decoration: none;
}

.signup-legend a:hover{
    color: #284B63;
}

/* Seccion Home */

.favorites-container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

.favorites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .25rem;
    margin: 2.5rem 0;
}

.favorite {
    background-color: #FFFFFF;
    padding: 1.25rem;
    border-radius: 10px;
}

.favorite:hover {
    background-color: #caf0f8;
}

.favorite h2 {
    font-weight: bold;
    margin-bottom: .5rem;
}

.favorite h2 a {
    text-decoration: none;
    color: #353535;
}

.favorite h2 a:hover {
    color: #284B63;
}

.favorite p {
    font-size: .9rem;
}

.pagination {
    margin: 2.5rem 0;
}

.pagination nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination nav div {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.pagination nav div:last-child {
    display: none;
}

.pagination nav div span {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #D9D9D9;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    line-height: 1.25rem;
}

.pagination nav div a {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: .5rem 1rem;
    font-size: .9rem;
    margin-left: .75rem;
    color: #284b63;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    cursor: pointer;
    border-radius: 10px;
    line-height: 1.25rem;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .favorites {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2.5rem 0;
    }
}

@media screen and (max-width: 768px) {
    .favorites {
        display: grid;
        grid-template-columns: 1fr;
        margin: 2.5rem 0;
    }
}


/* Category section vista */

.container {
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
}

.container-border {
    width: 100%;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 10px;
}

.container div div {
    width: 100%;
    overflow-x: auto;
}

.container div div table {
    width: 100%;
}

table thead tr {
    font-weight: bold;
    letter-spacing: 0.025em;
    text-align: left;
    color: #353535;
    background-color: #caf0f8;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
}

table td {
    padding: .75rem 1rem;
}

tbody {
    background-color: #FFFFFF;
}

tbody tr {
    color: #284B63;
}

.header-index {
    width: 100%;
    padding: 1rem 2rem 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-create {
    width: 100%;
    padding: 1rem 2rem 0rem 2rem;
}

.container-small {
    max-width: 500px;
    margin: 0 auto;
}

.form-radio {
    display: flex;
    align-items: center;
}

.form-radio input {
    width: 2rem;
}

.container-radio {
    display: flex;
}

hr {
    margin: 1rem 0;
    color: #D9D9D9;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-button{
    display: inline-block;
    padding: .5rem 1rem;
    font-size: small;
    text-align: end;
    text-decoration: none;
    background-color: #e71d36;
    color: #FFFFFF;
    border-radius: 10px;
}

.edit-button{
    display: inline-block;
    padding: .5rem 1rem;
    font-size: small;
    text-align: end;
    text-decoration: none;
    background-color: #3c6e71;
    color: #FFFFFF;
    border-radius: 10px;
}

.show-button {
    display: inline-block;
    padding: .5rem 1rem;
    font-size: small;
    text-align: end;
    text-decoration: none;
    background-color: #284B63;
    color: #FFFFFF;
    border-radius: 10px;
}

.new-button, .back-button {
    display: inline-block;
    padding: .5rem 1rem;
    font-size: small;
    text-align: end;
    text-decoration: none;
    background-color: #353535;
    color: #FFFFFF;
    border-radius: 10px;
}

.delete-form {
    display: none;
}

.info-empty {
    text-align: center;
    background-color: #FFFFFF;
    color: #3c6e71;
    padding: .75rem 1rem;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 1.5rem 0;
    }
}

